.grid {
    display: flex;
    width: 50%;
    margin: auto;
    gap: 2px;
    flex-wrap: wrap;


    .box{
        width: 50px;
        border: 2px solid gray;
        text-align: center;
        padding: 5px;
        user-select: none;
        &.selected{
            background-color: lightskyblue;
        }
    }

}